<div class="banner">
  <div class="box row">
    <div class="col-6"><h1>FIND YOUR FAVOURITE <span>ARTIST</span> NOW</h1></div>
    <div class="col-6"><%= image_tag "photo_banner.png", alt: "banner", width: 500 %></div>
  </div>
</div>



<div class="container">
  <h2>Dromedarial</h2>

  <h3>Artists</h3>
  <hr>
  <div class="container-cards">
    <div class="users-cards-grid">
      <% @users.each do |user| %>
      <div class="user-card">
        <div class="artist-name">
          <h4><%= link_to user.name, user_path(user) %></h4>
        </div>
        <div class="artist-role">
          <p><%= user.role %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
