<h1>Dromedarial</h1>
<h2>Artsits</h2>
<hr>
<div>

  <% @users.each do |user| %>
  <div>
    <h3><%= link_to user.name, user_path(user) %></h3>
    <p><%= user.email%></p>
    <p><%= user.role%></p>
  </div>
  <% end %>

</div>
