<h1>Dromedarial</h1>
<h2>Artsits</h2>
<hr>
<div class="container-cards">
  <div class="users-cards-grid">
    <% @users.each do |user| %>
      <%= link_to user_path(user) do %>
        <div class="user-card gradient-box">
          <div class="artist-name">
            <h3><%= user.name %></h3>
          </div>
          <div class="artist-role">
            <p><%= user.role %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
