<hr>
<div class="container-footer gradient-text">
  <div class="about">
    <h2>About us</h2>
    <p>Dromedary is gonna rule the world and dominate all species, from camel to lizards.</p>
  </div>
  <div class="links">
    <h2>Links</h2>
    <p>Privacy (NONE!!!)</p>
    <p>Search</p>
    <p>Home</p>
  </div>
  <div class="social-media">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter"></i>
    <h2>Talk to us</h2>
    <p>atendimento@inexistent</p>
  </div>
</div>