.banner {
  width: 100%;
  background: $gradient-color;
  display:flex;
  flex-direction: row;
  align-items: flex-end;

  img {
    filter: drop-shadow(15px 9px 40px black);
  }

  .social-media {
    position: relative;
    justify-content: flex-start;
  }

  i {
    font-size: 140%;
    color: white;
    opacity: 60%;
    margin-left: 21%;
    margin-bottom: 25%;
  }
}

.box {
  width: 500px;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    line-height: .7;
     }

  p, h1 {
    font-size: 55px;
    font-family: 'Fredoka One', cursive;
  }
  span {
    color: white;
  }
}

