.banner {
  width: 100%;
  background: $gradient-color;
  display:flex;

  img {
    filter: drop-shadow(20px 5px 4px #ef5128);
  }
}

.box {
  width: 500px;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    line-height: .7;
     }

  p, h1 {
    font-size: 55px;
    font-family: 'Fredoka One', cursive;
  }
  span {
    color: white;
  }
}

