@import 'user-cards';

.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 1%;

  h2 {
    font-size: 160%;
    font-weight: bold;
  }

  p {
    font-size: 100%;
  }

  .about {
    padding: 2%;
    margin-left: 2%;
  }

  .links {
    padding: 2%;
    margin: 0 20%;
  }

  .social-media {
    padding: 2%;
    margin-right: 2%;
  }
}

.social-media {
  h2 {
    margin-top: 10%;
  }

  i {
    font-size: 180%;
    margin: 0 3%;
  }

  p {
    font-family: $fredoka-font;
  }
}