@import 'user-cards';

.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 3%;

  .about {
    padding: 2%;
    margin-left: 2%;
  }

  .links {
    padding: 2%;
    margin: 0 20%;
  }

  .social-media {
    padding: 2%;
    margin-right: 2%;
  }
}