.navbar-lewagon {
  background-image: $gradient-color;
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-family: "Work Sans", "Helvetica", "sans-serif";
  opacity: 60%;
  font-size: 120%;
}
