.container-video {
  display: flex;
}

.login-box select {
  width: 100%;
  padding: 0px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

