.users-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 0 5% 2%;

  :hover {
    text-decoration: none;
  }

  .gradient-box {
    border: 6px solid black;
    border-radius: 16px;
  }
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 250px;
  height: 400px;
  box-shadow: 1px 1px 2px gray;
  text-align: center;
  overflow: hidden;

  .artist-name {
    background-color: #F4F4F4;
    margin-top: 50px;
    padding: 5% 20px;
    box-shadow: -10px 8px 40px black;
    -webkit-transform: skewY(5deg);
  }

  .artist-role {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2em;
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
  }
}

.artist-name {
  h3 {
    font-family: 'Fredoka One', cursive;
  }
}

.container-cards {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.status-video {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 130px;
  text-align: center;
}

