.users-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  a:hover {
    text-decoration: none;

  }
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("https://kitt.lewagon.com/placeholder/users/dedemenezes");
  background-position: center;
  width: 250px;
  height: 400px;
  border: thick solid;
  border-radius: 10px;
  box-shadow: 1px 1px 2px gray;
  text-align: center;
  overflow:hidden;

  .artist-name {
    background-color: #F4F4F4;
    margin-top: 50px;
    padding: 5% 20px;
    -webkit-transform: skewY(5deg);
  }

  .artist-role {
    display: flex;
    justify-content: center;

    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 2em;

    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
  }

  .user-card:link {
    text-decoration: none;
    color: black;
  }
}

.artist-name h3 {
  font-family: 'Fredoka One', cursive;

}

.gradient-text {
  background-image: $gradient-color;
  background-size: 100%;
  background-clip: text;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}